/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat Alternates', sans-serif;
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat;
    background-size: auto;
}

/* HEADER */
header{
    background-color: rgb(26, 24, 24);
    margin: 0;
}
header h1{
    color: rgb(35, 67, 155);
    background-color: rgb(26, 24, 24);
    padding: 10px;
    margin: 0px;
}
.no-padding{
    padding: 0;
}

/* MENU NAV */
.nav-link:hover{
    text-decoration: underline;
}

/* MAIN */
main h2{
    text-decoration: underline;
    color:#c5d9e7;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
}
main p{
    color: rgb(255, 255, 255);
    text-indent: 10px;
}
h3{
    color: white
}

/* MAIN (INDEX) */
.index-main p{
    margin-bottom: 0px;
}
.imagen-index{
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-row: auto;
}
.imagen-index p{
    margin-right: 8px;
}
.section-img{
    display: flex;
    justify-content: space-evenly;
}
.section-img1, .section-img2{
    width: 400px;
    height: 300px;
}

/* MAIN (GALERÍA) */


/* MAIN (NOTICIAS) */
.news{
    display: flex;
}

.noticias{
    width: 300px;
    margin: 20px;
}

.noticias img{
    width: 100%;
    height: auto;
}

.noticias img a{
    display: block;
    margin-top: 10px;
}

.noticias h3, p, a{
    color: white;
}

.noticias h3{
    font-style: italic;
}

/* MAIN (SOBRENOSOTROS) */
.info h3, fieldset, ul{
    color: white;
}

.info h3{
    text-decoration: underline;
}

.formulario fieldset, label, textarea{
    display:block;
}

.formulario fieldset{
    display: inline-block;
}

/* footer */
footer{
    background-color: rgb(26, 24, 24);
    padding: 5px;
}
footer fieldset{
    margin: 5px;
    text-align: center;
    color: rgb(57, 92, 187);
}

/* media queries celular*/
@media screen and (min-width:400px){ 
    .navbar-fixed .navbar-collapse{
        display: block;
        position: static;
        height: auto;
    }
    .navbar-fixed .navbar-nav{
        flex-direction: row;
    }
    .navbar-fixed .navbar-nav .nav-item{
        text-align: center;
    }
    .navbar-fixed .navbar-nav .nav-link{
        padding: 3px;
        margin: 3px;
    }

    .section-img{
        display: flex;
        flex-direction: column;
    }
    .section-img img{
        width: 100%;
        height: auto;
    }
}

/* media queries desktop */
@media screen and (min-width:1024px){
    .navbar-fixed .navbar-nav{
        flex-direction: row;
    }
    .navbar-fixed .navbar-nav .nav-item{
        width: auto;
        text-align: center;
    }
    .navbar-fixed .navbar-nav .nav-link{
        padding: 8px;
    }
    .section-img{
        display: flex;
        flex-direction: row;
        width: 200px;
        height: 400px;
        justify-content: center;
        gap: 20px;
        padding: 10px;
    }

}